[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynput = "*"
pyserial = "*"

[dev-packages]
nbdev = "*"
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
tsfeatures = "*"
tqdm = "*"
pre-commit = "*"

[requires]
python_version = "3.12"
